body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;
   width: 100%;
   
    background-color: hsl(0, 0%, 95%);
    overflow: hidden;

    height: 100vh;
   
    overflow: hidden;
    
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px hsl(0, 0%, 86%);
    background-color: hsl(0, 0%, 86%);
    width: 70%;
    height: 85%;
    
    
  }
  .middle_container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-shadow: 5px 5px 5px 5px hsl(0, 0%, 86%);
    border-radius: 20px 20px 140px 20px;
    padding: 40px;
  }
  .input_container {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 15px;
  }
  .input_write {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  label {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: hsl(0, 1%, 44%);
    font-size: 14px;
  }
  input {
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);


    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: black;
    width: 80px;
    font-size: 32px;
  }
  input:focus{
    
    outline: none;
  }
  .divider_container {
    display: flex;

    align-items: center;
    justify-content: center;
  }
  .divider {
    background-color: hsl(0, 0%, 86%);
    height: 1px;
    width: 350px;
  }
  .arrow {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .age_result_container {
    display: flex;
    flex-direction: column;
  }
  .result {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 2px; */
    margin: 0;

    padding: 0;
  }
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: hsl(259, 100%, 65%);
    font-size: 70px;
    font-style: italic;
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: black;
    font-size: 60px;
    font-style: italic;
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }